/*Primary Colors*/
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

/*Neutral Colors*/
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
/*font-family: 'Spartan', sans-serif;*/

* {
    margin: 0;
    padding: 0;
}

body, html {
    box-sizing: border-box;
    text-align: center;
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

body {
    background: url("../Social\ Proof\ Section\ Solution/img/bg-pattern-top-mobile.svg"), url("../Social\ Proof\ Section\ Solution/img/bg-pattern-bottom-mobile.svg"); /*Change this when you insert it in last CSS Folder*/
    background-repeat: no-repeat, no-repeat;
    background-position: 0% 0%, 100% 100%;
}

.header__title, .rating__description {
    color: $very-dark-magenta;
}

.buyer-profile__name {
    color: $white;
}

.rating__description, .buyer-profile__name {
    font-weight: 700;
}

main {
    margin: 5.5rem 0;
}

.header {
    margin-bottom: 3rem;
    &__title {
        width: 85%;
        margin: 0 auto 1.34rem auto;
        font-size: 2rem;
    }
    &__description {
        color: $dark-grayish-magenta;
        width: 77%;
        font-size: .85rem;
        font-weight: 500;
        margin: 0 auto;
    }
}

.ratings-container, .testimonials-container {
width: 90%;
}

.ratings-container {
    margin: 0 auto 3rem auto;
}
.rating {
    background: $light-grayish-magenta;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .5rem;
}

.testimonials-container, .buyer-profile, .buyer-profile__testimonial{
    margin: 0 auto;
}

.buyer-profile {
    background: $very-dark-magenta;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    &__image {
        border-radius: 50%;
        width: 3rem;
    }
    &__status {
        color: hsl(333, 35%, 53%);
    }
}

.buyer-profile__container {
    width: 75%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;;
}

.buyer-profile__testimonial {
    text-align: left;
    width: 90%;
    font-size: .8rem;
    line-height: 1.3rem;
    color: hsl(0, 0%, 90%);
}